<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="output-path" value="C:\Users\--user--\source\repos\UTest\Examples" />
    <add key="output-namespace" value="examples" />
    <add key="output-class" value="example" />
    <add key="output-mock" value="C:\Users\--user--\source\repos\UTest\Examples\objects" />
  </appSettings>
</configuration>